@import url('https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic');
@import url('https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css');
@import url('../src/developer/toastitv1.0.css');

html {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 8px;
}

p,
select,
input,
span, div {
    font-size: large;
}

table {
    width: 90% !important;
    margin-left: 5%;
}

.emoji-image {
    font-size: 24px;
}

thead {
    font-weight: 800;
    font-size: larger;
}

tbody tr:hover {
    background: rgba(0, 0, 0, 0.679);
}

.img-logo {
    padding: 10px;
    width: 60px;
    float: left;
}

div.image-sample {
    text-align: center !important;
}

div.image-sample img {
    width: 500px;
    height: 314px;
    max-width: 500px;
}

.theme-picker {
    float: right;
    display: flex;
    align-items: end;
    align-content: stretch;
}

.emoji {
    cursor: pointer;
    font-size: x-large;
    border-radius: 8px;
    filter: grayscale(80%);
    padding: 3px 10px 3px 10px;
    border: 1px solid lightgray;
}

.button-generic {
    background-color: gray !important ;
    border-color: lightgray !important;
}

.button-generic:hover {
    background-color: rgb(98, 98, 98) !important;
    border-color: lightgray !important;
}

.button-generic:active {
    background-color: lightgray !important;
    border-color: gray !important;
}

.button-notification {
    background-color: cornflowerblue !important;
    border-color: blue !important;
}

.button-notification:hover {
    background-color:  rgb(62, 92, 147) !important;
    border-color: lightgray !important;
}

.button-notification:active {
    background-color: blue !important;
    border-color: cornflowerblue !important;
}

.button-success {
    background-color:forestgreen !important;
    border-color: darkgreen !important;
}

.button-success:hover {
    background-color:  rgb(23, 92, 23) !important;
    border-color: rgb(0, 152, 0) !important;
}

.button-success:active {
    background-color: darkgreen !important;
    border-color: forestgreen !important;
}

.button-warning {
    background-color:goldenrod !important;
    border-color: gold !important;
}

.button-warning:hover {
    background-color:  rgb(195, 142, 10) !important;
    border-color: rgb(212, 180, 0) !important;
}

.button-warning:active {
    background-color: gold !important;
    border-color: goldenrod !important;
}

.button-error {
    background-color:darkred !important;
    border-color: red !important;
}

.button-error:hover {
    background-color:  rgb(107, 0, 0) !important;
    border-color: rgb(168, 0, 0) !important;
}

.button-error:active {
    background-color: red !important;
    border-color: darkred !important;
}

@media (max-width: 900px) {
    div.theme-picker {
        display: none;
    }
    
    div.image-sample img {
        width: 780px;
        height: 408px;
    }
}

@media (max-width: 720px) {
    div.theme-picker {
        display: none;
    }
    
    div.image-sample img {
        width: 600px;
        height: 314px;
    }
}

@media (max-width: 612px) {
    img.img-logo {
        display: none;
    }
    
    div.image-sample img {
        width: 420px;
        height: 220px;
    }
}

@media (min-width: 600px) {
    h1#titulo {
        text-align: center;
    }
    
    div.image-sample img {
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 800px) {
    h1#titulo {
        text-align: center;
    }
}
