/*
    This CSS stylesheet file is part of the ToastIt JS Library.
    Is copyrighted: Fernando Omar Luna. If you find it alone, please DMme by Twitter @mobilepadawan.
    I try to get it as soon as possible. Or if you take a holydays in Argentina, you can bring it with you.
*/
.toast-div {
    font-size: medium;
    /* text-transform: uppercase; */
    text-align: left;
    position: fixed;
    width: auto;
    top: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 4px;
    z-index: 9999;
    box-shadow: 0 4px 7px #00000080;
}

.toast-generic {
    background-color: #6c757d;
    color: #ffffff;
}

.toast-info {
    background-color: #5e8ee7;
    color: #ffffff;
}

.toast-success {
    background-color: #28a745;
    color: #ffffff;
}

.toast-warning {
    background-color: #d58a07;
    color: #ffffff;
    font-weight: 700;
}

.toast-error {
    background-color: #dc3545;
    color: #f5f5f5;
    font-weight: 700;
}

.toast-span-close {
    cursor: pointer;
    padding-left: 10px;
    font-size: small;
}