@import url('https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic');
@import url('https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css');
@import url('./toastitv1.0-min.css');

html {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 8px;
    user-select: none;
}

p, select, input, span, div {
    font-size: large;
}

table {
    width: 90% !important;
    margin-left: 5%;
}

.emoji-image {
    font-size: 24px;
}

thead {
    font-weight: 800;
    font-size: larger;
}

tbody tr:hover {
    background: rgba(0, 0, 0, 0.679);
}

.img-logo {
    padding: 10px;
    width: 60px;
    float: left;
}

div.image-sample {
    text-align: center !important;
}

div.image-sample img {
    width: 700px;
    height: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.card-sample {
    position: relative;
    text-align: center;
    width: 280px;
    height: 360px;
    border: 1px solid gray;
    padding: 16px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.199);

    &:hover {
        transition: 0.3s ease-in;
        box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.400);
    }

    & p {
        text-wrap: balance;
    }

    & div.button-align {
        padding: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        position: absolute;
        bottom: 10px;
    }
    
    & button {
        text-align: center;
        width: 200px;
    }
}



.theme-picker {
    float: right;
    display: flex;
    align-items: end;
    align-content: stretch;
}

.emoji {
    cursor: pointer;
    font-size: x-large;
    border-radius: 8px;
    filter: grayscale(80%);
    padding: 3px 10px 3px 10px;
    border: 1px solid lightgray;
}

.button-generic {
    background-color: gray !important ;
    border-color: lightgray !important;
}

.button-generic:hover {
    background-color: rgb(98, 98, 98) !important;
    border-color: lightgray !important;
}

.button-generic:active {
    background-color: lightgray !important;
    border-color: gray !important;
}

.button-notification {
    background-color: cornflowerblue !important;
    border-color: blue !important;
}

.button-notification:hover {
    background-color:  rgb(62, 92, 147) !important;
    border-color: lightgray !important;
}

.button-notification:active {
    background-color: blue !important;
    border-color: cornflowerblue !important;
}

.button-success {
    background-color:forestgreen !important;
    border-color: darkgreen !important;
}

.button-success:hover {
    background-color:  rgb(23, 92, 23) !important;
    border-color: rgb(0, 152, 0) !important;
}

.button-success:active {
    background-color: darkgreen !important;
    border-color: forestgreen !important;
}

.button-warning {
    background-color:goldenrod !important;
    border-color: gold !important;
}

.button-warning:hover {
    background-color:  rgb(195, 142, 10) !important;
    border-color: rgb(212, 180, 0) !important;
}

.button-warning:active {
    background-color: gold !important;
    border-color: goldenrod !important;
}

.button-error {
    background-color:darkred !important;
    border-color: red !important;
}

.button-error:hover {
    background-color:  rgb(107, 0, 0) !important;
    border-color: rgb(168, 0, 0) !important;
}

.button-error:active {
    background-color: red !important;
    border-color: darkred !important;
}

@media (min-width: 900px) {
    header, main {
        margin: 0 auto;
        max-width: 1000px;
    }
}

@media (max-width: 720px) {
    div.theme-picker {
        display: none;
    }
}

@media (max-width: 660px) {
    img.img-logo {
        display: none;
    }
}

@media (max-width: 550px) {
    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 3rem;
    }
}

@media (max-width: 420px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    p,
    select,
    input,
    span, div {
        font-size: medium;
    }
}
